.info-todo

  = link_to root_path do
    %li
      = image_tag("mercari_profile.png", class: 'mercari-icon')
      .context 2040pointが明日失効します。Test long sentense -----------------------------------------------------------------------------
  = link_to root_path do
    %li
      = image_tag("mercari_profile.png", class: 'mercari-icon')
      .context 2100point
  = link_to root_path do
    %li
      = image_tag("mercari_profile.png", class: 'mercari-icon')
      .context 2004point
  = link_to root_path do
    %li
      = image_tag("mercari_profile.png", class: 'mercari-icon')
      .context 2020point
  = link_to root_path do
    %li
      = image_tag("mercari_profile.png", class: 'mercari-icon')
      .context 202a0point
  %li
    = link_to root_path do
      %button 一覧を見る

.items-bought
  .items-bought__under-trading
    =link_to root_path do
      %li
        under trading
    =link_to root_path do
      %li
        under trading
    =link_to root_path do
      %li
        under trading
    =link_to root_path do
      %li
        under trading
    =link_to root_path do
      %li
        under trading
    =link_to root_path do
      %li
        under trading

  .items-bought__done-trading
