%section.pickup-container
  %h2.pickup-head ピックアップカテゴリー
  %section.items-box-container.clearfix
    %h3.text-center
      = link_to "レディース新着アイテム", root_path
    .items-box-content.clearfix
      %section.items-box
        %a{href: "#"}
          %figure.items-box-photo
            %img.is-higher-width.lazyloaded{alt: "パンプス 赤 23cm", src: "#"}
          .items-box-body
            %h3.items-box-name.font-2
              パンプス 赤 23cm
            .items-box-num.clearfix
              .items-box-price.font-5 ¥ 1,400
              .items-box-likes.font-2
                = fa_icon "heart", type: :regular, class: "icon-like-border"
                %span 1
              %p.item-box-tax
                (税込)
      %section.items-box
        %a{href: "#"}
          %figure.items-box-photo
            %img.is-higher-width.lazyloaded{alt: "値下げ中☆送料込み！ロンシャン ショルダーバッグ", src: "#"}
          .items-box-body
            %h3.items-box-name.font-2
              値下げ中☆送料込み！ロンシャン ショルダーバッグ
            .items-box-num.clearfix
              .items-box-price.font-5 ¥ 4,500
              .items-box-likes.font-2
                = fa_icon "heart", type: :regular, class: "icon-like-border"
                %span 3
              %p.item-box-tax
                (税込)
      %section.items-box
        %a{href: "#"}
          %figure.items-box-photo
            %img.is-higher-width.lazyloaded{alt: "パンプス 赤 23cm", src: "#"}
          .items-box-body
            %h3.items-box-name.font-2
              パンプス 赤 23cm
            .items-box-num.clearfix
              .items-box-price.font-5 ¥ 1,400
              .items-box-likes.font-2
                = fa_icon "heart", type: :regular, class: "icon-like-border"
                %span 1
              %p.item-box-tax
                (税込)
      %section.items-box
        %a{href: "#"}
          %figure.items-box-photo
            %img.is-higher-width.lazyloaded{alt: "今期新作　ヨースケ　星モチーフサンダル　23.5", src: "#"}
          .items-box-body
            %h3.items-box-name.font-2
              今期新作　ヨースケ　星モチーフサンダル　23.5
            .items-box-num.clearfix
              .items-box-price.font-5 ¥ 6,000
              .items-box-likes.font-2
                = fa_icon "heart", type: :regular, class: "icon-like-border"
                %span 3
              %p.item-box-tax
                (税込)
    .view-all
      = link_to "すべての商品を見る", root_path
  %section.items-box-container.clearfix
    %h3.text-center
      %a{href: "#"} メンズ 新着アイテム
    .items-box-content.clearfix
      %section.items-box
        %a{href: "#"}
          %figure.items-box-photo
            %img.is-higher-width.lazyloaded{alt: "ルードギャラリー ヌバックレザーPコート", src: "#"}/
          .items-box-body
            %h3.items-box-name.font-2
              ルードギャラリー ヌバックレザーPコート
            .items-box-num.clearfix
              .items-box-price.font-5 ¥ 90,000
              .items-box-likes.font-2
                = fa_icon "heart", type: :regular, class: "icon-like-border"
                %span 1
              %p.item-box-tax
                (税込)
      %section.items-box
        %a{href: "#"}
          %figure.items-box-photo
            %img.is-higher-width.lazyloaded{alt: "メンズトランクスLL", src: "#"}
          .items-box-body
            %h3.items-box-name.font-2
              メンズトランクスLL
            .items-box-num.clearfix
              .items-box-price.font-5 ¥ 799
              .items-box-likes.font-2
                = fa_icon "heart", type: :regular, class: "icon-like-border"
                %span 2
              %p.item-box-tax
                (税込)
      %section.items-box
        %a{href: "#"}
          %figure.items-box-photo
            %img.is-higher-width.lazyloaded{alt: "Louis Vuitton / ルイヴィトン モノグラムエクリプス 美品 正規品", src: "#"}
          .items-box-body
            %h3.items-box-name.font-2
              Louis Vuitton / ルイヴィトン モノグラムエクリプス 美品 正規品
            .items-box-num.clearfix
              .items-box-price.font-5 ¥ 129,600
              .items-box-likes.font-2
                = fa_icon "heart", type: :regular, class: "icon-like-border"
                %span 36
              %p.item-box-tax
                (税込)
      %section.items-box
        %a{href: "#"}
          %figure.items-box-photo
            %img.is-higher-width.lazyloaded{alt: "ハイドロゲン パーカー", src: "#"}/
          .items-box-body
            %h3.items-box-name.font-2
              ハイドロゲン パーカー
            .items-box-num.clearfix
              .items-box-price.font-5 ¥ 9,000
              .items-box-likes.font-2
                = fa_icon "heart", type: :regular, class: "icon-like-border"
                %span 1
              %p.item-box-tax
                (税込)
    .view-all
      = link_to "すべての商品を見る", root_path
  %section.items-box-container.clearfix
    %h3.text-center
      = link_to "ベビー・キッズ 新着アイテム", root_path
    .items-box-content.clearfix
      %section.items-box
        %a{href: "#"}
          %figure.items-box-photo
            %img.is-higher-width.lazyloaded{alt: "パンプス 赤 23cm", src: "#"}/
          .items-box-body
            %h3.items-box-name.font-2
              新品☆DOUBULE_B☆ボーダータートルセーター☆110
            .items-box-num.clearfix
              .items-box-price.font-5 ¥ 4,300
              .items-box-likes.font-2
                = fa_icon "heart", type: :regular, class: "icon-like-border"
                %span 1
              %p.item-box-tax
                (税込)
      %section.items-box
        %a{href: "#"}
          %figure.items-box-photo
            %img.is-higher-width.lazyloaded{alt: "ほほえみ らくらくキューブ", src: "#"}/
          .items-box-body
            %h3.items-box-name.font-2
              ほほえみ らくらくキューブ
            .items-box-num.clearfix
              .items-box-price.font-5 ¥ 1,400
              .items-box-likes.font-2
                = fa_icon "heart", type: :regular, class: "icon-like-border"
                %span 1
              %p.item-box-tax
                (税込)
      %section.items-box
        %a{href: "#"}
          %figure.items-box-photo
            %img.is-higher-width.lazyloaded{alt: "ハリスツイード スタジャン 新品未使用", src: "#"}
          .items-box-body
            %h3.items-box-name.font-2
              ハリスツイード スタジャン 新品未使用
            .items-box-num.clearfix
              .items-box-price.font-5 ¥ 1,999
              .items-box-likes.font-2
                = fa_icon "heart", type: :regular, class: "icon-like-border"
                %span 2
              %p.item-box-tax
                (税込)
      %section.items-box
        %a{href: "#"}
          %figure.items-box-photo
            %img.is-higher-width.lazyloaded{alt: "ベビーギャップ Gジャン デニムジャケット 80", src: "#"}
          .items-box-body
            %h3.items-box-name.font-2
              ベビーギャップ Gジャン デニムジャケット 80
            .items-box-num.clearfix
              .items-box-price.font-5 ¥ 1,500
              .items-box-likes.font-2
                = fa_icon "heart", type: :regular, class: "icon-like-border"
                %span 1
              %p.item-box-tax
                (税込)
    .view-all
      = link_to "すべての商品を見る", root_path
  %section.items-box-container.clearfix
    %h3.text-center
      = link_to "コスメ・香水・美容 新着アイテム", root_path
    .items-box-content.clearfix
      %section.items-box
        %a{href: "#"}
          %figure.items-box-photo
            %img.is-higher-width.lazyloaded{alt: "新品未使用♪ジュリーク ハンドクリーム ローズ", src: "#"}
          .items-box-body
            %h3.items-box-name.font-2
              新品未使用♪ジュリーク ハンドクリーム ローズ
            .items-box-num.clearfix
              .items-box-price.font-5 ¥ 1,800
              .items-box-likes.font-2
                = fa_icon "heart", type: :regular, class: "icon-like-border"
                %span 1
              %p.item-box-tax
                (税込)
      %section.items-box
        %a{href: "#"}
          %figure.items-box-photo
            %img.is-higher-width.lazyloaded{alt: "【新品】レ メルヴェイユーズ ラデュレ クリーム チーク ベース 113", src: "#"}
          .items-box-body
            %h3.items-box-name.font-2
              【新品】レ メルヴェイユーズ ラデュレ クリーム チーク ベース 113
            .items-box-num.clearfix
              .items-box-price.font-5 ¥ 3,400
              .items-box-likes.font-2
                = fa_icon "heart", type: :regular, class: "icon-like-border"
                %span 7
              %p.item-box-tax
                (税込)
      %section.items-box
        %a{href: "#"}
          %figure.items-box-photo
            %img.is-higher-width.lazyloaded{alt: "マジョリカマジョルカ　マスカラ", src: "#"}
          .items-box-body
            %h3.items-box-name.font-2
              マジョリカマジョルカ　マスカラ
            .items-box-num.clearfix
              .items-box-price.font-5 ¥ 699
              .items-box-likes.font-2
                = fa_icon "heart", type: :regular, class: "icon-like-border"
                %span 1
              %p.item-box-tax
                (税込)
      %section.items-box
        %a{href: "#"}
          %figure.items-box-photo
            %img.is-higher-width.lazyloaded{alt: "moomo ムーモ 除毛クリーム 1本", src: "#"}/
          .items-box-body
            %h3.items-box-name.font-2
              moomo ムーモ 除毛クリーム 1本
            .items-box-num.clearfix
              .items-box-price.font-5 ¥ 2,900
              .items-box-likes.font-2
                = fa_icon "heart", type: :regular, class: "icon-like-border"
                %span 1
              %p.item-box-tax
                (税込)
    .view-all
      = link_to "すべての商品を見る", root_path
%section.pickup-container
  %h2.pickup-head ピックアップブランド
  %section.items-box-container.clearfix
    %h3.text-center
      = link_to "シャネル新着アイテム", root_path
    .items-box-content.clearfix
      %section.items-box
        %a{href: "#"}
          %figure.items-box-photo
            %img.is-higher-width.lazyloaded{alt: "新品未使用 CAHNEL シャネル アリュール  オム  スポーツ　EDT", src: "#"}
          .items-box-body
            %h3.items-box-name.font-2
              新品未使用 CAHNEL シャネル アリュール  オム  スポーツ　EDT
            .items-box-num.clearfix
              .items-box-price.font-5 ¥ 3,800
              .items-box-likes.font-2
              %p.item-box-tax
                (税込)
      %section.items-box
        %a{href: "#"}
          %figure.items-box-photo
            %img.is-higher-width.lazyloaded{alt: "CHANEL cc ココマーク カメリア レインブーツ サイズ 35 シャネル", src: "#"}
          .items-box-body
            %h3.items-box-name.font-2
              CHANEL cc ココマーク カメリア レインブーツ サイズ 35 シャネル
            .items-box-num.clearfix
              .items-box-price.font-5 ¥ 3,800
              .items-box-likes.font-2
              %p.item-box-tax
                (税込)
      %section.items-box
        %a{href: "#"}
          %figure.items-box-photo
            %img.is-higher-width.lazyloaded{alt: "シャネル  衣装ケース", src: "#"}
          .items-box-body
            %h3.items-box-name.font-2
              シャネル  衣装ケース
            .items-box-num.clearfix
              .items-box-price.font-5 ¥ 3,800
              .items-box-likes.font-2
              %p.item-box-tax
                (税込)
      %section.items-box
        %a{href: "#"}
          %figure.items-box-photo
            %img.is-higher-width.lazyloaded{alt: "シャネル　ヘアミスト", src: "#"}
          .items-box-body
            %h3.items-box-name.font-2
              シャネル　ヘアミスト
            .items-box-num.clearfix
              .items-box-price.font-5 ¥ 4,000
              .items-box-likes.font-2
              %p.item-box-tax
                (税込)
    .view-all
      = link_to "すべての商品を見る", root_path
  %section.items-box-container.clearfix
    %h3.text-center
      %a{href: "#"}
        ルイ ヴィトン 新着アイテム
    .items-box-content.clearfix
      %section.items-box
        %a{href: "#"}
          %figure.items-box-photo
            %img.is-higher-width.lazyloaded{alt: "ルイヴィトン ショルダー バッグ モノグラム M51290 ドルーオ", src: "#"}
          .items-box-body
            %h3.items-box-name.font-2
              ルイヴィトン ショルダー バッグ モノグラム M51290 ドルーオ
            .items-box-num.clearfix
              .items-box-price.font-5 ¥ 42,000
              .items-box-likes.font-2
              %p.item-box-tax
                (税込)
      %section.items-box
        %a{href: "#"}
          %figure.items-box-photo
            %img.is-higher-width.lazyloaded{alt: "ルイヴィトンカプシーヌM M", src: "#"}
          .items-box-body
            %h3.items-box-name.font-2
              ルイヴィトンカプシーヌM M
            .items-box-num.clearfix
              .items-box-price.font-5 ¥ 445,000
              .items-box-likes.font-2
              %p.item-box-tax
                (税込)
      %section.items-box
        %a{href: "#"}
          %figure.items-box-photo
            %img.is-higher-width.lazyloaded{alt: "シャネル  衣装ケース", src: "#"}/
          .items-box-body
            %h3.items-box-name.font-2
              シャネル  衣装ケース
            .items-box-num.clearfix
              .items-box-price.font-5 ¥ 3,800
              .items-box-likes.font-2
              %p.item-box-tax
                (税込)
      %section.items-box
        %a{href: "#"}
          %figure.items-box-photo
            %img.is-higher-width.lazyloaded{alt: "シャネル　ヘアミスト", src: "#"}
          .items-box-body
            %h3.items-box-name.font-2
              シャネル　ヘアミスト
            .items-box-num.clearfix
              .items-box-price.font-5 ¥ 4,000
              .items-box-likes.font-2
              %p.item-box-tax
                (税込)
    .view-all
      = link_to "すべての商品を見る", root_path
  %section.items-box-container.clearfix
    %h3.text-center
      = link_to "シュププリーム新着アイテム", root_path
    .items-box-content.clearfix
      %section.items-box
        %a{href: "#"}
          %figure.items-box-photo
            %img.is-higher-width.lazyloaded{alt: "シュプリームポケTEE", src: "#"}
          .items-box-body
            %h3.items-box-name.font-2
              シュプリームポケTEE
            .items-box-num.clearfix
              .items-box-price.font-5 ¥ 4,600
              .items-box-likes.font-2
              %p.item-box-tax
                (税込)
      %section.items-box
        %a{href: "#"}
          %figure.items-box-photo
            %img.is-higher-width.lazyloaded{alt: "Supreme The North Face Steep Tech Jacket", src: "#"}
          .items-box-body
            %h3.items-box-name.font-2
              Supreme The North Face Steep Tech Jacket
            .items-box-num.clearfix
              .items-box-price.font-5 ¥ 102,000
              .items-box-likes.font-2
              %p.item-box-tax
                (税込)
      %section.items-box
        %a{href:"#"}
          %figure.items-box-photo
            %img.is-higher-width.lazyloaded{alt: "[美中古] supreme(シュプリーム) 総柄ロゴキャップ", src: "#"}/
          .items-box-body
            %h3.items-box-name.font-2
              [美中古] supreme(シュプリーム) 総柄ロゴキャップ
            .items-box-num.clearfix
              .items-box-price.font-5 ¥ 7,000
              .items-box-likes.font-2
              %p.item-box-tax
                (税込)
      %section.items-box
        %a{href:"#"}
          %figure.items-box-photo
            %img.is-higher-width.lazyloaded{alt: "supreme キャップ", src: "#"}
          .items-box-body
            %h3.items-box-name.font-2
              supreme キャップ
            .items-box-num.clearfix
              .items-box-price.font-5 ¥ 6,000
              .items-box-likes.font-2
                = fa_icon "heart", type: :regular, class: "icon-like-border"
                %span 1
              %p.item-box-tax
                (税込)
    .view-all
      = link_to "すべての商品を見る", root_path
  %section.items-box-container.clearfix
    %h3.text-center
      = link_to "ナイキ 新着アイテム", root_path
    .items-box-content.clearfix
      %section.items-box
        %a{href:"#"}
          %figure.items-box-photo
            %img.is-higher-width.lazyloaded{alt: "値下げ!! NIKE AIR JORDAN 11 セット", src: "#"}/
          .items-box-body
            %h3.items-box-name.font-2
              値下げ!! NIKE AIR JORDAN 11 セット
            .items-box-num.clearfix
              .items-box-price.font-5 ¥ 47,000
              .items-box-likes.font-2
                = fa_icon "heart", type: :regular, class: "icon-like-border"
                %span 6
              %p.item-box-tax
                (税込)
      %section.items-box
        %a{href:"#"}
          %figure.items-box-photo
            %img.is-higher-width.lazyloaded{alt: "NIKE airforce270", src: "#"}/
          .items-box-body
            %h3.items-box-name.font-2
              NIKE airforce270
            .items-box-num.clearfix
              .items-box-price.font-5 ¥ 12,000
              .items-box-likes.font-2
                = fa_icon "heart", type: :regular, class: "icon-like-border"
                %span 3
              %p.item-box-tax
                (税込)
      %section.items-box
        %a{href:"#"}
          %figure.items-box-photo
            %img.is-higher-width.lazyloaded{alt: "NIKE × AMBUSH リバーシブル ジャケット", src: "#"}
          .items-box-body
            %h3.items-box-name.font-2
              NIKE × AMBUSH リバーシブル ジャケット
            .items-box-num.clearfix
              .items-box-price.font-5 ¥ 39,800
              .items-box-likes.font-2
                = fa_icon "heart", type: :regular, class: "icon-like-border"
                %span 3
              %p.item-box-tax
                (税込)
      %section.items-box
        %a{href:"#"}
          %figure.items-box-photo
            %img.is-higher-width.lazyloaded{alt: "NIKE パーカー Tシャツ", src: "#"}
          .items-box-body
            %h3.items-box-name.font-2
              NIKE パーカー Tシャツ
            .items-box-num.clearfix
              .items-box-price.font-5 ¥ 4,900
              .items-box-likes.font-2
                = fa_icon "heart", type: :regular , class: "icon-like-border"
                %span 3
              %p.item-box-tax
                (税込)
    .view-all
      = link_to "すべての商品を見る", root_path
