.mypage-sidebar
  %nav.mypage-nav
    %ul.mypage-nav-list
      %li
        = link_to user_path(current_user), class: "mypage-nav-list-item" do
          マイページ
          = fa_icon "chevron-right", class: "icon-arrow-right"
      %li
        = link_to root_path, class: "mypage-nav-list-item" do
          お知らせ
          = fa_icon "chevron-right", class: "icon-arrow-right"
      %li
        = link_to root_path, class: "mypage-nav-list-item" do
          やることリスト
          = fa_icon "chevron-right", class: "icon-arrow-right"
      %li
        = link_to root_path, class: "mypage-nav-list-item" do
          いいね！一覧
          = fa_icon "chevron-right", class: "icon-arrow-right"
      %li
        = link_to root_path, class: "mypage-nav-list-item" do
          出品する
          = fa_icon "chevron-right", class: "icon-arrow-right"
      %li
        = link_to root_path, class: "mypage-nav-list-item" do
          出品した商品 - 出品中
          = fa_icon "chevron-right", class: "icon-arrow-right"
      %li
        = link_to root_path, class: "mypage-nav-list-item" do
          出品した商品 - 取引中
          = fa_icon "chevron-right", class: "icon-arrow-right"
      %li
        = link_to root_path, class: "mypage-nav-list-item" do
          出品した商品 - 売却済み
          = fa_icon "chevron-right", class: "icon-arrow-right"
      %li
        = link_to root_path, class: "mypage-nav-list-item" do
          購入した商品 - 取引中
          = fa_icon "chevron-right", class: "icon-arrow-right"
      %li
        = link_to root_path, class: "mypage-nav-list-item" do
          購入した商品 - 過去の取引
          = fa_icon "chevron-right", class: "icon-arrow-right"
      %li
        = link_to root_path, class: "mypage-nav-list-item" do
          ニュース一覧
          = fa_icon "chevron-right", class: "icon-arrow-right"
      %li
        = link_to root_path, class: "mypage-nav-list-item" do
          評価一覧
          = fa_icon "chevron-right", class: "icon-arrow-right"
      %li
        = link_to root_path, class: "mypage-nav-list-item" do
          ガイド
          = fa_icon "chevron-right", class: "icon-arrow-right"
      %li
        = link_to root_path, class: "mypage-nav-list-item" do
          お問い合わせ
          = fa_icon "chevron-right", class: "icon-arrow-right"
    %h3.mypage-nav-header
      売上・ポイント
    %ul.mypage-nav-list
      %li
        = link_to root_path, class: "mypage-nav-list-item" do
          売り上げ・振込申請
          = fa_icon "chevron-right", class: "icon-arrow-right"
      %li
        = link_to root_path, class: "mypage-nav-list-item" do
          ポイント
          = fa_icon "chevron-right", class: "icon-arrow-right"
    %h3.mypage-nav-header
      設定
    %ul.mypage-nav-list
      %li
        = link_to profile_edit_users_user_details_path, class: "mypage-nav-list-item" do
          プロフィール
          = fa_icon "chevron-right", class: "icon-arrow-right"
      %li
        = link_to root_path, class: "mypage-nav-list-item" do
          住所変更
          = fa_icon "chevron-right", class: "icon-arrow-right"
      %li
        = link_to credit_add_users_user_details_path, class: "mypage-nav-list-item" do
          支払い方法の変更
          = fa_icon "chevron-right", class: "icon-arrow-right"
      %li
        = link_to root_path, class: "mypage-nav-list-item" do
          メール/パスワード
          = fa_icon "chevron-right", class: "icon-arrow-right"
      %li
        = link_to edit_users_user_detail_path(current_user), class: "mypage-nav-list-item" do
          本人情報
          = fa_icon "chevron-right", class: "icon-arrow-right"
      %li
        = link_to root_path, class: "mypage-nav-list-item" do
          電話番号の確認
          = fa_icon "chevron-right", class: "icon-arrow-right"
      %li
        = link_to logout_users_path, class: "mypage-nav-list-item" do
          ログアウト
          = fa_icon "chevron-right", class: "icon-arrow-right"
